/* font imports */

@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Sedgwick+Ave+Display&display=swap');
<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');
=======
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Irish+Grover&family=Sedgwick+Ave+Display&display=swap');
>>>>>>> 29c8091bbec8774e0117be48fedbf4f445bec29a

/* styles for webpage */

* {
    font-family: 'Gruppo', cursive;         
}

                                                     /* NAVIGATION BAR */

/* start of css styles for NAVBAR */

.navbar-brand {
    font-family: 'Sedgwick Ave Display', cursive;
}

.offcanvas-title {
    font-family: 'Sedgwick Ave Display', cursive;
}

/* end of css styles for NAVBAR */

                                                        /* MENU */

/* start of css styles for MENU HEADER */
.menupic {
    width: 100%;
    height: 500px;
    filter: brightness(35%) saturate(70%);
    margin-top: 0px;
}

.menuheader {
    position: relative;
    text-align: center;
    color: white;
}

.menuword {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 75px;
    margin-bottom: none;
}

.orderbtn {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 75px;
}

<<<<<<< HEAD
/* end of css styles for MENU HEADER */

/* start of css styes for HOME */

.container {
    background-image: linear-gradient(#000000)transparent;
    vertical-align: middle;
    align-items: center;
}

#bgvideo {
    background-image: linear-gradient(#000000)transparent;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: brightness(50%) saturate(50%);
}

.container h1{
    font-size: 150px;
    line-height: 150px;
    letter-spacing: 10px;
    position: absolute;
    z-index: 1;
    font-family: 'Slackey', cursive;
    color: #ffffff3f;
    -webkit-text-stroke: 3px #ffffff;
    background: url(images/maxresdefault-removebg-preview.png);
    -webkit-background-clip: text;
            background-clip: text;
    background-position: 2000px 2000px ;
    animation: back 20s linear infinite;

    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
}

@keyframes back{
    100%{
        background-position: 2000px 0px ;
    }
}

/* end of css styes for HOME */
=======
.orderbutton {
    font-family: 'Gruppo', cursive;
    width: 180px;
    color: #000;
    font-size: 17px;
    font-weight: 600;
    padding: 12px 0;
    background-color: #c2f4a8;
    border-radius: 20px;
    outline: none;
    margin-top: 10px;
    transition: transform 0.5s;
}

.orderbutton:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(126, 255, 234, 0.19);
}

/* end of css styles for MENU HEADER */

/* this is the styles for FOOD menu item list */

.foodh1 {
    margin: 20px;
    text-align: center;
}

.firstrow {
    display: flex;
    justify-content: center;
}

.startcard {
    width: 250px;
    height: 250px;
    display: inline-block;
    border: 1px solid rgb(198, 197, 197);
    border-radius: 10%;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    text-align: center;
    transition: transform 0.5s;
}

.startcard1 {
    background-image: url(images/classic_krabby_patty-removebg-preview.png);
    padding-top: 13%;
}

#krabbypatty {
    cursor: pointer;
}

.startcard2 {
    background-image: url(images/classic_krabby_patty-removebg-preview.png);
    padding-top: 13%;
}

.startcard3 {
    background-image: url(images/classic_krabby_patty-removebg-preview.png);
    padding-top: 13%;
}

.secrow {
    display: flex;
    justify-content: center;
}

.subcard {
    width: 250px;
    height: 250px;
    display: inline-block;
    border: 1px solid rgb(198, 197, 197);
    border-radius: 10%;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 30px 15px;
    background-position: center;
    background-size: cover;
    text-align: center;
    transition: transform 0.5s;
}

.subcard1 {
    background-image: url(images/classic_krabby_patty-removebg-preview.png);
    padding-top: 13%;
}

.subcard2 {
    background-image: url(images/classic_krabby_patty-removebg-preview.png);
    padding-top: 13%;
}

.subcard3 {
    background-image: url(images/classic_krabby_patty-removebg-preview.png);
    padding-top: 13%;
}

/* animation for food cards */

.startcard:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px 0 rgba(1, 255, 94, 0.2), 0 6px 20px 0 rgba(1, 255, 94, 0.19);
}

.subcard:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px 0 rgba(1, 255, 94, 0.2), 0 6px 20px 0 rgba(1, 255, 94, 0.19);
}

/* end of styles for FOOD menu item list */

/* this is the styles for DRINKS menu item list */

.drinksh1 {
    margin: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.thirdrow {
    display: flex;
    justify-content: center;
}

.altcard {
    width: 250px;
    height: 250px;
    display: inline-block;
    border: 1px solid rgb(198, 197, 197);
    border-radius: 10%;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 30px 15px;
    background-position: center;
    background-size: cover;
    text-align: center;
    transition: transform 0.5s;
}

.altcard1 {
    background-image: url(images/classic_krabby_patty-removebg-preview.png);
    padding-top: 13%;
}

.altcard2 {
    background-image: url(images/classic_krabby_patty-removebg-preview.png);
    padding-top: 13%;
}

.altcard3 {
    background-image: url(images/classic_krabby_patty-removebg-preview.png);
    padding-top: 12%;
}

/* animation for drink cards */

.altcard:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px 0 rgba(1, 255, 94, 0.2), 0 6px 20px 0 rgba(1, 255, 94, 0.19);
}


/* end of styles for DRINKS menu item list */

                                                /* Krabby Patty Menu */


/* this is the styles for Krabby Patty Menu header */

.pattyheader h4{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 35px;
    margin-bottom: none;
}

.pattyheader h1{
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 75px;
    margin-bottom: none;
}

.orderbtn-patty {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 75px;
}

/* animation for buttons in header of each page */

.orderbutton-patty {
    font-family: 'Gruppo', cursive;
    width: 180px;
    color: #000;
    font-size: 17px;
    font-weight: 600;
    padding: 12px 0;
    background-color: #c2f4a8;
    border-radius: 20px;
    outline: none;
    margin-top: 10px;
    transition: transform 0.5s;
}

.orderbutton-patty:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(126, 255, 234, 0.19);
}

/* end of styles for Krabby Patty Menu header */

/* this is the styles for menu item list (krabby patty, chum specials, kelp fries, nachos, pizzas, package meals) */

.pattyh1 {
    margin: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.container {
    margin-top: 30px;
}

.menu-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-right-radius: 0px;
}

.card {
    cursor: pointer;
    transition: transform 0.5s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px 0 rgba(1, 255, 94, 0.2), 0 6px 20px 0 rgba(1, 255, 94, 0.19);
}

.card h3 {
    text-transform: uppercase;
    color: rgb(177, 177, 177);
    font-size: .8rem;
}

.card p {
    line-height: 1.4em;
}

.btn {
    margin-top: 15px;
    padding: 7px;
}

/* end of styles for menu item list (krabby patty, chum specials, kelp fries, nachos, pizzas, package meals) */


/* this is the styles for booking header */

.bookpic {
    width: 100%;
    height: 500px;
    filter: brightness(35%) saturate(70%);
    margin-top: 0px;
}

.bookheader {
    position: relative;
    text-align: center;
    color: white;
}

.bookword {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 75px;
    margin-bottom: none;
}

/* end of styles for booking header */

/* this is the styles for booking cards */

.bookh1 {
    margin: 20px;
    text-align: center;

}

body {
    background-image: url("images/background\ 2.png");
    background-size: cover;
    background-color: rgba(255,255, 255, 0.5);
}
<<<<<<< HEAD
>>>>>>> 1901ed25bfd2d3f1819dccf7860a21b950040d29
=======

.forms {
    margin-left: 15%;
}

/* css for image infographic for book a party */
.container {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    justify-content: space-evenly;
}
.theme {
    margin: 5px 5px 5px 5px;
    width: 400px;
    box-sizing: border-box;
    border-radius: 10%;
    border: 10px double rgb(92, 175, 92);

}

.btn {
    margin-bottom: 20px;
}

/* font & border deisgns for booking forms */

.formheaders {
    font-family: 'Irish Grover', cursive;
    text-align: center;
    padding: 0px;
}

.container {
    display: flex;
  }

.box {
    background-repeat: no-repeat;
    background-size: 100% 20px, calc(100% - 8px) 100%;
    background-position: left, 0;
    
    height: 80px;
    width: 800px;
    margin-left: 10px;
    margin-bottom: 2px;
    margin-top: 0px;
  }
  
.gradient-border {
    background-image: linear-gradient(to right, #c2f4a8, #97e1dc),
                      linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  }

  /* css for word in supercard header */
.cardword {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 75px;
    margin-bottom: none;
    color: white;
  }


  
>>>>>>> 29c8091bbec8774e0117be48fedbf4f445bec29a
