/* font imports */

  @import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Irish+Grover&family=Sedgwick+Ave+Display&family=Slackey&display=swap');

/* styles for webpage */

* {
    font-family: 'Gruppo', cursive;         
}

                                                     /* NAVIGATION BAR */

/* start of css styles for NAVBAR */

.navbar-brand {
    font-family: 'Sedgwick Ave Display', cursive;
}

.offcanvas-title {
    font-family: 'Sedgwick Ave Display', cursive;
}

/* end of css styles for NAVBAR */
=======
.orderbutton {
    font-family: 'Gruppo', cursive;
    width: 180px;
    color: #000;
    font-size: 17px;
    font-weight: 600;
    padding: 12px 0;
    background-color: #c2f4a8;
    border-radius: 20px;
    outline: none;
    margin-top: 10px;
    transition: transform 0.5s;
}

.orderbutton:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(126, 255, 234, 0.19);
}

/* end of css styles for MENU HEADER */
/* start of css styles for MENU HEADER */
.menupic {
    width: 100%;
    height: 500px;
    filter: brightness(35%) saturate(70%);
    margin-top: 0px;
}

.menuheader {
    position: relative;
    text-align: center;
    color: white;
}

.menuword {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 75px;
    margin-bottom: none;
}

.orderbtn {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 75px;
}

<<<<<<< HEAD
/* end of css styles for MENU HEADER */
/* this is the styles for FOOD menu item list */

.foodh1 {
    margin: 20px;
    text-align: center;
}

.firstrow {
    display: flex;
    justify-content: center;
}

.startcard {
    width: 250px;
    height: 250px;
    display: inline-block;
    border: 1px solid rgb(198, 197, 197);
    border-radius: 10%;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    text-align: center;
    transition: transform 0.5s;
}

.startcard1 {
    background-image: url(images/classic_krabby_patty-removebg-preview.png);
    padding-top: 13%;
}

#krabbypatty {
    cursor: pointer;
}

.startcard2 {
    background-image: url(images/classic_krabby_patty-removebg-preview.png);
    padding-top: 13%;
}

.startcard3 {
    background-image: url(images/classic_krabby_patty-removebg-preview.png);
    padding-top: 13%;
}

.secrow {
    display: flex;
    justify-content: center;
}

.subcard {
    width: 250px;
    height: 250px;
    display: inline-block;
    border: 1px solid rgb(198, 197, 197);
    border-radius: 10%;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 30px 15px;
    background-position: center;
    background-size: cover;
    text-align: center;
    transition: transform 0.5s;
}

.subcard1 {
    background-image: url(images/classic_krabby_patty-removebg-preview.png);
    padding-top: 13%;
}

.subcard2 {
    background-image: url(images/classic_krabby_patty-removebg-preview.png);
    padding-top: 13%;
}

.subcard3 {
    background-image: url(images/classic_krabby_patty-removebg-preview.png);
    padding-top: 13%;
}

/* animation for food cards */

.startcard:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px 0 rgba(1, 255, 94, 0.2), 0 6px 20px 0 rgba(1, 255, 94, 0.19);
}

.subcard:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px 0 rgba(1, 255, 94, 0.2), 0 6px 20px 0 rgba(1, 255, 94, 0.19);
}

/* end of styles for FOOD menu item list */

/* this is the styles for DRINKS menu item list */

.drinksh1 {
    margin: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.thirdrow {
    display: flex;
    justify-content: center;
}

.altcard {
    width: 250px;
    height: 250px;
    display: inline-block;
    border: 1px solid rgb(198, 197, 197);
    border-radius: 10%;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 30px 15px;
    background-position: center;
    background-size: cover;
    text-align: center;
    transition: transform 0.5s;
}

.altcard1 {
    background-image: url(images/classic_krabby_patty-removebg-preview.png);
    padding-top: 13%;
}

.altcard2 {
    background-image: url(images/classic_krabby_patty-removebg-preview.png);
    padding-top: 13%;
}

.altcard3 {
    background-image: url(images/classic_krabby_patty-removebg-preview.png);
    padding-top: 12%;
}

/* animation for drink cards */

.altcard:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px 0 rgba(1, 255, 94, 0.2), 0 6px 20px 0 rgba(1, 255, 94, 0.19);
}


/* end of styles for DRINKS menu item list */

                                                /* Krabby Patty Menu */


/* this is the styles for Krabby Patty Menu header */

.pattyheader h4{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 35px;
    margin-bottom: none;
}

.pattyheader h1{
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 75px;
    margin-bottom: none;
}

.orderbtn-patty {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 75px;
}

/* animation for buttons in header of each page */

.orderbutton-patty {
    font-family: 'Gruppo', cursive;
    width: 180px;
    color: #000;
    font-size: 17px;
    font-weight: 600;
    padding: 12px 0;
    background-color: #c2f4a8;
    border-radius: 20px;
    outline: none;
    margin-top: 10px;
    transition: transform 0.5s;
}

.orderbutton-patty:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(126, 255, 234, 0.19);
}

/* end of styles for Krabby Patty Menu header */

/* this is the styles for menu item list (krabby patty, chum specials, kelp fries, nachos, pizzas, package meals) */

.pattyh1 {
    margin: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.container {
    margin-top: 30px;
}

.menu-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-right-radius: 0px;
}

.card {
    cursor: pointer;
    transition: transform 0.5s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px 0 rgba(1, 255, 94, 0.2), 0 6px 20px 0 rgba(1, 255, 94, 0.19);
}

.card h3 {
    text-transform: uppercase;
    color: rgb(177, 177, 177);
    font-size: .8rem;
}

.card p {
    line-height: 1.4em;
}

.btn {
    margin-top: 15px;
    padding: 7px;
}

/* end of styles for menu item list (krabby patty, chum specials, kelp fries, nachos, pizzas, package meals) */


/* this is the styles for booking header */

.bookpic {
    width: 100%;
    height: 500px;
    filter: brightness(35%) saturate(70%);
    margin-top: 0px;
}

.bookheader {
    position: relative;
    text-align: center;
    color: white;
}

.bookword {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 75px;
    margin-bottom: none;
}

/* end of styles for booking header */

/* this is the styles for booking cards */

.bookh1 {
    margin: 20px;
    text-align: center;

}

body {
    background-image: url("images/background\ 2.png");
    background-size: cover;
    background-color: rgba(255,255, 255, 0.5);
}
<<<<<<< HEAD
>>>>>>> 1901ed25bfd2d3f1819dccf7860a21b950040d29
=======

.forms {
    margin-left: 15%;
}

/* css for image infographic for book a party */
.container {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    justify-content: space-evenly;
}
.theme {
    margin: 5px 5px 5px 5px;
    width: 400px;
    box-sizing: border-box;
    border-radius: 10%;
    border: 10px double rgb(92, 175, 92);

}

.btn {
    margin-bottom: 20px;
}

/* font & border deisgns for booking forms */

.formheaders {
    font-family: 'Irish Grover', cursive;
    text-align: center;
    padding: 0px;
}

.container {
    display: flex;
  }

.box {
    background-repeat: no-repeat;
    background-size: 100% 20px, calc(100% - 8px) 100%;
    background-position: left, 0;
    
    height: 80px;
    width: 800px;
    margin-left: 10px;
    margin-bottom: 2px;
    margin-top: 0px;
  }
  
.gradient-border {
    background-image: linear-gradient(to right, #c2f4a8, #97e1dc),
                      linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  }

  /* css for word in supercard header */
.cardword {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 75px;
    margin-bottom: none;
    color: white;
  }


  
>>>>>>> 29c8091bbec8774e0117be48fedbf4f445bec29a


/* -------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------- */

                                                        /* MENU */


/* start of css styes for HOME */

.homecontainer {
    /* background-image: linear-gradient(#000000)transparent;
    display: flex;
    align-items: center;
    justify-content: center; */

    position: relative;

}

#bgvideo {
    background-image: linear-gradient(#000000)transparent;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: brightness(50%) saturate(50%);
    z-index: -1;

}

.homecontainer h1{
    font-size: 150px;
    line-height: 150px;
    letter-spacing: 10px;
    position: absolute;
    z-index: 1;
    font-family: 'Slackey', cursive;
    color: #ffffff3f;
    -webkit-text-stroke: 3px #ffffff;
    background: url(images/maxresdefault-removebg-preview.png);
    -webkit-background-clip: text;
            background-clip: text;
    background-position: 2000px 2000px ;
    animation: back 20s linear infinite;

    top: 50%;
    left: 51%;
    transform: translate(-50%, -20%);
}

@keyframes back{
    100%{
        background-position: 2000px 0px ;
    }
}

.abc {
    /* width: 500px;
    margin: 0 auto;
    z-index: 1; */

    width: 500px;
    position: absolute;
    z-index: 1;

    top: -50px; /* Adjust the value based on the desired distance */
    left: 50%;
    transform: translate(-50%, 30%);
}

/* end of css styes for HOME */



        /* -------------------------------------------------------------------------------------------------------------------------------------------- */

/* start of styles for ORDER NOW */


        /* start for headerr */

.ordernowpic {
    width: 100%;
    height: 450px;
    filter: brightness(35%) saturate(70%);
    margin-top: 0px;
}

.ONH {
    position: relative;
    text-align: center;
    color: white;

}

.ONH h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-size: 150px;
    line-height: 150px;
    letter-spacing: 10px;
    margin: none;

    font-family: 'Slackey', cursive;
    color: #ffffff3f;
    -webkit-text-stroke: 3px #dfdfdfad;
    background: url(images/maxresdefault-removebg-preview.png);
    -webkit-background-clip: text;
            background-clip: text;
    background-position: 2000px 2000px ;
    animation: back 20s linear infinite;
    transform: translate(-50%, -20%);

}

        /* end for header */

        /* start for body */

.ONB {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.via_hotline{

    /* margin-top: 100px; */

    padding: 180px;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 900px;
    width: 1200px;
    background-image: url(images/scroll.png);
    filter: brightness(110%) saturate(60%);


    /* overflow: hidden;
    display: none; */

}

.via_visit{
    padding: 180px;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 900px;
    width: 1200px;
    background-image: url(images/scroll.png);
    filter: brightness(110%) saturate(60%);

     /* overflow: hidden;
    display: none; */

}

        .ovt {
            font-size: 50px;
            font-family: 'Irish Grover', cursive;
            color: #6e401a;
        }

        .ovv {
            font-size: 50px;
            font-family: 'Irish Grover', cursive;
            color: #6e401a;v
        }


.t_content, .v_content{
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.telephonepic {
    width: 40%;
    height: 330px;
    position: relative;
    left: 10px;
    margin-right: 35px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #1a0f0870;
      -moz-box-shadow: 10px 10px 5px #1a0f0888;
      -webkit-box-shadow: 10px 10px 5px #1a0f08d5;
      -khtml-box-shadow: 10px 10px 5px #1a0f0880;
}

.counterpic{
    width: 40%;
    height: 80%;
    position: relative;
    left: 10px;
    margin-right: 35px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #1a0f0870;
      -moz-box-shadow: 10px 10px 5px #1a0f0888;
      -webkit-box-shadow: 10px 10px 5px #1a0f08d5;
      -khtml-box-shadow: 10px 10px 5px #1a0f0880;
}

.number {
    background-color: #6e401a;
    border-radius: 13px;
    box-shadow: 10px 10px 5px #040302d3;
      -moz-box-shadow: 10px 10px 5px #000000d5;
      -webkit-box-shadow: 10px 10px 5px #1a0f08f0;
      -khtml-box-shadow: 10px 10px 5px #1a0f083d;
}

.number h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: #d4aa37;
    text-align: center;
    padding: 10px;
    margin: 20px;
}

.address {
    background-color: #6e401a;
    border-radius: 13px;
    box-shadow: 10px 10px 5px #040302d3;
      -moz-box-shadow: 10px 10px 5px #000000d5;
      -webkit-box-shadow: 10px 10px 5px #1a0f08f0;
      -khtml-box-shadow: 10px 10px 5px #1a0f083d;
}

.address h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: #d4aa37;
    text-align: center;
    padding: 10px;
    margin: 50px;
}

.tele_instru, .visit_insru{
    font-size: 17px;
    line-height: 25px;
}

        /* end for body */

/* end of styles for order now */

        /* -------------------------------------------------------------------------------------------------------------------------------------------- */

/* start of styles for about us page */


/* start of header */


.AUH {
    width: 100%;
    height: 500px;
    filter: brightness(35%) saturate(70%);
    background-image: url(images/abtuspic.png);
    background-position: 80% 50%;
    position: absolute;
    margin-top: 0px;
}

.abtus_head {
    position: absolute;
    right: 50px;
    width: 50%;
    font-size: 150px;
    line-height: 150px;
    letter-spacing: 10px;
    text-align: right;
    margin-top: 100px;

    font-family: 'Slackey', cursive;
    color: #ffffff;
}

/* end of header */
/* ----------------------------------------------- */
/* start of body */

.AUB {
    position: relative;
    top: 600px;
    
    display: flex;
    flex-direction: column;
}

.who {
    /* position: relative; */
    top: 600px;
    padding: 80px;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 700px;
    width: 900px;
    background-color: #14091782;
    margin: auto;
    margin-bottom: 100px;
    border-radius: 20px;
}

.who h1 {
    font-family: 'sedgwick ave display', cursive;
    font-size: 100px;
    color: #ffffff;
    margin: none;
    text-align: center;

    background: #ffffff53 -webkit-gradient(linear, left top, right top, from(#ffffff53), 
    to(#ffffff), color-stop(0.5,  #d7b4e6bb)) 0 0 no-repeat;
    background-size: 400px;
    color: rgba(183, 84, 245, 0.1);
    -webkit-background-clip: text;
    animation: animate 3s infinite; 
    -webkit-text-stroke: 1.5px #ffffff62;
}


.w2 {
    display: flex;
    flex-direction: row;
    /* padding: 10px 30px; */
}

.w2 p {
    font-size: 18px;
    padding: 20px 20px 10px 40px;
    line-height: 35px;
    color: #ffffff;
}



.history {
    /* position: relative; */
    top: 700px;
    width: 100%;
    margin-bottom: 100px;
}

.carousel_history {
    position: relative;
    text-align: center;
    color: white;
}

.abcd {
        width: 100%;
        height: 500px;
        filter: brightness(35%) saturate(70%);
        margin-top: 0px;
}

.history h1 {
    font-family: 'Sedgwick ave display', cursive;
    color: #ffffff;
    letter-spacing: 5px;
    font-size: 65px;
    margin-left: 60px;
    position: absolute;
    top: 850px;
    padding-left: 100px;
    justify-self: flex-start;
}




.crew {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
    width: 100%;
    height: 1500px;
    background-image: url(images/crewbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative;
    top: 900px; */
}


.logo_crew {
    width: 300px;
    align-self: center;
    padding: -50px;
}

.crew h1 {
    font-family: 'Slackey', cursive;
    font-size: 90px;
    color: #5e5e5e;
    text-align: center;
    -webkit-text-stroke: 1px #ffffff;
    letter-spacing: 10px;

    background: #181818 -webkit-gradient(linear, left top, right top, from(#181818), 
    to(#181818), color-stop(0.5,  #fff)) 0 0 no-repeat;
    background-size: 350px;
    color: rgba(255, 255, 255, 0.1);
    -webkit-background-clip: text;
    animation: animate 3s infinite;   
}

@keyframes animate{
    0%, 10%{
        background-position: -1000px;
    }
    20%{
        background-position: top left;
    }
    90%{
        background-position: top right;
    }
    100%{
        background-position: 1000px;
    }
}
/* end of body */

/* end of styles for about us page */


/* start of styles for LOGIN SIGNUP PAGE */

.login_header {
    width: 100%;
    height: 600px;
    background-image: url(images/login_header.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(90%) saturate(70%);
    margin-top: 0px;
    background-position: center;    
}

.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    }
    
    @media (min-width: 1025px) {
    .h-custom-2 {
    height: 100%;
    }
    }


.login {
    margin: auto;
    position: relative;
    top: -450px;
    width: 1000px;
    box-shadow: 0px 0px 25px 15px #0403027c;
      -moz-box-shadow: 0px 0px 25px 15px #0000003f;
      -webkit-box-shadow: 0px 0px 20px 15px #1a0f0882;
      -khtml-box-shadow: 0px 0px 25px 15px #1a0f083d;
      
}

.LS_card {
    background-color: #dbbcff;
    
    /* border-radius: 20px; */
}


.h3_login {
    font-family: 'slackey', cursive;
    font-size: 80px;
    color: #ffffff00;
    -webkit-text-stroke: 3px #6c2692;
}

.form-label {
    color: #6c2692;
    font-size: 25px;
}

.lib {
    background-color: #deadc7;
    border-color: #ffffff;
    box-shadow: 10px 10px 5px #0403027c;
      -moz-box-shadow: 4px 4px 5px #0000003f;
      -webkit-box-shadow: 4px 4px 5px #1a0f0882;
      -khtml-box-shadow: 4px 4px 5px #1a0f083d;
}

.emailbox, .passwordbox {
    border-color: #6c2692;
}

.link-info {
    color: #f04d99;
    font-weight: bolder;
    text-decoration: none;
}

/* end of styles for LOGIN SIGNUP PAGE */